# {{.Service.Name}}Service

## Build Information
- BuildDate     {{.BuildDate}}      
- BuildHostname {{.BuildHostname}} 
- BuildUser     {{.BuildUser}}
- GoPWD         {{.GoPWD}}
- PWD           {{.PWD}}  
- Debug         {{.Debug}}  
- DestinationDir{{.DestinationDir}}
- File          {{.File.Name}}  
- RawFilename   {{.RawFilename}}
- Filename      {{.Filename}}
- TemplateDir   {{.TemplateDir}}
- Service       {{.Service}}
- Enum          {{.Enum}}  
