<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web demo</title>
</head>
<body>
   <h2>{{.Username}} information</h2> 
   <div>
       <ul>
            <li>User ID: {{.ID}}</li>
            <li>User name: {{.Username}}</li>
            <li>Created time: {{.CreatedAt}}</li>
            <li>Updated time: {{.UpdatedAt}}</li>
       </ul>
   </div>
</body>
</html>